<main class="animate-up delay-2">
    <h1 class="sr-only">Trabalhos</h1>

    <!--Alterando estrutura para um repitição com forEach Aula 2 Begin -->
    <div class="cards">
      <%jobs.forEach((job)=> { %>

        <div class="card <%=job.status%> " data-id="<%=job.id%>">
          <div class="id column">
            <%=job.id%>
          </div>
          <div class="name column">
            <%=job.name%>
          </div>
          <div class="deadline column">
            <span>Prazo</span>
            <p>
              <% if(job.status==='progress' ) { %>

                <%=job.remaining%> Dias para a entrega
                  <% }else {%>

                    Prazo Encerrado
                    <%}%>
            </p>
          </div>
          <div class="amount column">
            <span>Valor</span>
            <p>R$ <%=job.budget.toFixed(2).replace(".", "," )%>
            </p>
          </div>
          <div class="status badge column">
            <%=job.status==='done' ? 'Encerrado' : 'Em Andamento' %>
          </div>
          <div class="actions column flex">
            <p class="sr-only">Ações</p>
            <a href="/job/<%=job.id%>" class="button white edit" title="Editar Job">
              <img src="/images/edit-24.svg" alt="Editar Job" />
            </a>
            <button class="delete button white" title="Excluir Job">
              <img src="/images/trash-24.svg" alt="Excluir Job" />
            </button>
          </div>
        </div>

        <%})%>
          <!-- end card -->
          <!--Alterando estrutura para um repitição com forEach Aula 2 End -->

    </div>
    <!-- end cards -->
  </main>